<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangg.tourism.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.yangg.tourism.domain.entity.Message">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="args" column="args" jdbcType="VARCHAR"/>
            <result property="sendUser" column="sendUser" jdbcType="INTEGER"/>
            <result property="receiveUser" column="receiveUser" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,content,args,
        sendUser,receiveUser,status,
        createTime,updateTime,isDelete
    </sql>
</mapper>
